body {
    background-color: black;
    margin: 0;
    height: 100%;
    color: white;
}

.aboutMe-about {
    color: white;
    margin-bottom: 8%;
    margin-left: 10%;
    margin-top: 7%;
    font-size: 25px;
}

.aboutMe-intro {
    margin-left: 10%;
}


.aboutMe-back {
    border: 3px solid white;
    width: 35px;
    color: white;
    margin-top: 15%;
    margin-left: 20px;
}

a {
    color: white;
}

.aboutMe-bio{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10%;
    font-size: 20px;
    top: -230px;
}

.aboutMe-portrait{
    height: auto;
    width: 600px;
}