* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}



#header {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

.box {
    flex: 1;
}

.left-box {
    flex: 5;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 7%;
}

.nav-bar {
    /* border: 3px solid blue; */
    color: white;
    font-size: 30px;
    padding-left: 5%;
    margin-top: 5%;
}

.left-box-summary {
    /* border: 2px solid blue; */
    color: white;
    font-size: 45px;
    margin-top: 250px;
    margin-left: 50px;
}

.left-box-socials img {
   width: 50px;
   margin-top: 250px;
   margin-left: 50px;
}

.right-box {
    flex: 3;
    background-color: white;
    max-height: 100%;
}

.right-box-welcome-statement{
    font-size: 70px;
    color: black;
    border: 2;
    border-color: azure;
    /* border: 5px solid blue; */
    margin-top: 80%;
    max-height: 100%;
    
}

.Linkedin-link {
    font-size: 45px;
}

.Github-link {
    font-size: 45px;
}